.content-header {
	background: -webkit-linear-gradient(left, #fff 0%, #efefef 100%);
}

.sub-nav {
	background: -webkit-linear-gradient(left, #efefef 0%, #dfdfdf 100%);
}

.content-secondary {
	background: -webkit-linear-gradient(left, #efefef 0%, #fafafa 100%);
}

.gradient-bar {
	height: 5px; 
	background: -webkit-linear-gradient(left, #999 0%, #555 100%);
	margin: 0;
}

/* sub-nav for content pages */
nav.sub-nav ul {
	padding: 20px 0 0 10px;
}

nav.sub-nav ul li {
	display: inline;
	padding: 0 10px;
}

nav.sub-nav ul li:first-child {
	padding-left: 0px;
}
