/*
 * css v5
 * Eleanor Roosvelt Robotics
 * October 2012
 * www.erhsroboticsclub.org
 * - Nick Yaculak nyaculak@gmail.com
 * - Michael Stevens
 */

@import url("../css/reset.css");

body {
	background-color: #9cf;
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	/*
	background-color: linear-gradient(top, #bef 20%, #7ad 70%);
		background-color: -webkit-linear-gradient(top, #bef 20%, #7ad 70%);
		background-color: -moz-linear-gradient(top, #bef 20%, #7ad 70%);
		background-color: -o-linear-gradient(top, #bef 20%, #7ad 70%);
		background-color: -ms-linear-gradient(top, #bef 20%, #7ad 70%);
	*/
	color: #000;
	font-size: 100%;
	line-height: 1;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
}

/* Headings */ 
h2 {font-size: 26px;}
h3 {font-size: 24px;}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 14px; text-align: center; font-style: italic;}
h2, h3, h4, h5, h6 { 
	font-weight: 400; 
	line-height: 1;
	margin-bottom: .2em; 
	color: #00f;
}

a:link, a:visited { 
	color: #00f;
	text-decoration: underline;
}
a:hover, a:active { 
	color: #006;
}  

p { margin-bottom: .2em;}

thead th {padding: .5em .4em; text-align: left;} thead td {}  
tbody td {padding: .5em .4em;} tbody th {}  tbody .alt td {} tbody .alt th {}  
tfoot th {} tfoot td {}
header, section, footer, aside, nav, article, figure, login{ display: block;} 

#banner a { text-decoration: none; }
#banner a .maintitle {
	color: blue;
	font-size: 60px;
	text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;  
	font-family: "Comic Sans MS", cursive, sans-serif;
}
#banner a .subtitle{
	color: black;
	font-size: 14px;
	font-style: italic;
}

#content { background-color: #69f;}

.nav-logo { 
	display: block;
	position: absolute;
	height: 130px;
	width: 120px;
	margin-top: -35px;
	z-index: 9998;	
	margin-left: -20px;
}
.blog-feed { height: 500px; overflow: auto;}
.maincontent { height: 450px; }

.content {
	margin: 10px 0;
	background-color: white;
}
.entry { 
	background-color: white;
	margin: 10px;
}

b { font-weight: bold; }
img.left, iframe.left {
	float: left;
	padding-right: 5px;
}
img.right, iframe.right {
	float: right;
	padding-left: 5px;
}

#footer {
	font-size: 12px;
	background-color: #69f;
}

.footer_col { padding-top: 10px;}
.footer_col h2 { font-size: 16px; color: #006; }
.footer_col ul { list-style: none; }
.footer_col ul li a { color: #006; text-decoration: none; font-size: 12px;}
.footer_col ul li a:hover, .footer_col ul li a:active { color: #004;}

.blog-entry {
	background-color: white;
}
.blog-entry h2 {
	color: #00f;
}
.blog-entry h3 {
	color: #69f;
	font-size: 14px;
}

/* Login *****************/
form {
	width: 100%;}
.label {
	color: #00f;}
.button {
	padding: 5px;
	background-color: #69f;
	color: #00f;
	font-size: 14px;
}
.button:hover {
color: #f90;}
.remove-button {
	background: url(../images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	padding: 0px;
	float: right;	
	border: none;	
	padding-top: 1px;
	-o-background-size:100% 100%;				/*  Opera  		*/
	-webkit-background-size:100% 100%;	/*  Safari	 	*/
	-khtml-background-size:100% 100%;		/*  Konqueror	*/
	-moz-background-size:100% 100%;			/*	Firefox		*/
}
.remove-button:hover {
	color:#FF001E;	
}
.edit-button {
	display: block;
	background: url(../images/edit.png) no-repeat top;
	width: 20px;
	height: 20px;
	float: right;
	border: none;	
	padding-top: 1px;
	-o-background-size:100% 100%;				/*  Opera  		*/
	-webkit-background-size:100% 100%;	/*  Safari	 	*/
	-khtml-background-size:100% 100%;		/*  Konqueror	*/
	-moz-background-size:100% 100%;			/*	Firefox		*/
}	
 
.menu {
	width: 875px;
	position: relative;
	margin: 10px auto 15px auto;
	float: right;
	height: 40px; 
	background: #4c4e5a;
		/*
		background-color: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		background-color: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		background-color: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		background-color: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		background-color: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		*/
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}
.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.menu li:first-child a { border-left: none;}
.menu li:last-child a{ border-right: none; }
.menu li:hover > a { color: #69f; }

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 9999;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
.menu li:hover > ul { opacity: 1; }
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
.menu ul li a {
    width: 100px;
    padding: 4px;
    margin: 0;
    border-bottom: 1px solid #353539;
}
.menu ul li:last-child a { border: none; }

#twitter-widget-0 {
	width: 360px;
	margin: 0 auto;
}

div#like-box {
    height: 20px;
    overflow: hidden;
    padding: 0;
}
