/*
 * css v4
 * Eleanor Roosvelt Robotics
 * October 2012
 * www.erhsroboticsclub.org
 * - Nick Yaculak nyaculak@gmail.com
 * - Michael Stevens
 */

@import url("../css/reset.css");

/* Body */
body {
background: url("../images/bg.png");
color: #000;
font-size: 110%;
line-height: 1;
font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 
               'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
}

/* Headings */ 
h2 {font-size: 1.571em;	color: #00f;}	/* 22px */ 
h3 {font-size: 1.429em; color: #00f}	/* 20px */ 
h4 {font-size: 1.286em}	/* 18px */ 
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}	    /* 14px */  
h2, h3, h4, h5, h6 { 
font-weight: 400; 
line-height: 1.1;
margin-bottom: .3em; 
}

a:link, a:visited { 
color: #00f;
text-decoration: underline; } 
a:hover, a:active { 
color: #f90;}  

p { margin-bottom: 1.3em;}

/* Quotes */ blockquote {font-style: italic;} cite {}  q {}  
/* Thead */ thead th {padding: .5em .4em; text-align: left;} thead td {}  
/* Tbody */ tbody td {padding: .5em .4em;} tbody th {}  tbody .alt td {} tbody .alt th {}  
/* Tfoot */ tfoot th {} tfoot td {}
/* HTML5 tags */ 
header, section, footer, aside, nav, article, figure, login{ display: block;} 
section, footer, aside, article, figure, div { background: white; }
section, footer, aside, div {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;}

#top { background: none;}
login { background: none;}

#login {
	background: none;
	text-align: right;
}

#container {
	position: relative;
	width: 960px;
	margin: 0 auto;
	background: none;
}
#content-container {
	background: #fff;
	position: relative;
	width: 960px;
	margin: 0 auto;
	/*border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px*/; 
}
header img, header a img {
	width: 100%;
}

#welcome figure, #welcome figure img, #welcome figure iframe { 
	border: 2px solid #eee;
	float: right; 
	margin: .786em 3em 50 5em; 
	margin-left: 50px;
	width: 349px; 
	height: 232px;
}

#content {
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: .5em;
}

.content {
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-top: 1.1em;
}

#index-content {
	overflow: hidden;
	padding: 20px; 
	padding-bottom: 0px;
}
#left-pane, #right-pane { width: 49%;}
#left-pane { float: left;}
#right-pane { float: right;}
.entry { 
	border-bottom: 2px solid #000; 
	padding: .5em 0;
}
.title { text-decoration: underline; }
li:last-child .entry, #content > .entry {
	border: 0; 
	margin: 0;
}

#about { 
	background: #fff;	
	overflow: hidden; 
	padding: 20px; 
	text-align: right; 
}
#about p { float: right;}
#about .primary {
	text-align: left;
	float: left; 
	width: 190px;
	color: #00f; 
	font-size: 1.286em;
} 
#about .bio {float: right; width: 700px;}  
#about .copyright {float:right; width: auto;}

#media-display {
	text-align: center;
	padding: 20px; 
	width: 920px;
}  
#media-display figure, #media-display figure img, #media-display figure iframe { 
	border: 2px solid #eee;
	width: 100%; 
	height: 100%; 
} 

#blog {
	width: 100%;
	padding: 20px 0 20px 0;
}
#blog .button {
	padding: 5px;
	background-color: #69f;
	color: #00f;
	font-size: 14px;
	margin: 0 0 5px 20px
}
#blog .button:hover {
	color: #f90;
}
#blog-entry {
text-align: left;
overflow: hidden; 
padding: 0px 20px 0px 20px;} 
#blog-entry h2 {
color: #00f;
font-size: 22px;}
#blog-entry h3 {
color: #69f;
font-size: 14px;}
#blog-entry p {
display: block;
width: 100%;
overflow: wrap;
text-align: left;} 

/* Login *****************/
form {
	width: 100%;}
.label {
color: #00f;}
.button {
	padding: 5px;
	background-color: #69f;
	color: #00f;
	font-size: 14px;
}
.button:hover {
color: #f90;}
.remove-button {
	background: url(../images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	padding: 0px;
	float: right;	
	border: none;	
	padding-top: 1px;
	-o-background-size:100% 100%;             /*  Opera  */
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;           /*not working in Firefox as yet */
}
.remove-button:hover {
	color:#FF001E;	
}
.edit-button {
	display: block;
	background: url(../images/edit.png) no-repeat top;
	width: 20px;
	height: 20px;
	float: right;
	border: none;	
	padding-top: 1px;	
	-o-background-size:100% 100%;             /*  Opera  */
    -webkit-background-size:100% 100%;        /*  Safari  */
    -khtml-background-size:100% 100%;         /*  Konqueror  */
    -moz-background-size:100% 100%;           /*not working in Firefox as yet */
}
#profile-link {
	color: white;
	text-decoration: none;
} 

/*#topNav {
	background: #fff; 
	height: 35px; 
	line-height: 25px; 
	margin: 1em 0; 
	padding: 0; 
	text-align: left; 
	width: 960px;  
	border: 1px solid black;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 10px;}  
#topNav ul {
	list-style: none; 
	margin: 0;
	float: left;} 
#topNav li {
	display: inline; 
	float: left;
	border-right: 1px solid black;} #topNav li:last-child { border-right: none;}
#topNav a:link, #topNav a:visited { 
	color: #00f; 
	display: inline-block; 
	height: 25px; 
	padding: 5px .5em;} 
#topNav a:hover, #topNav a:active, #topNav .active a:link, #topNav .active a:visited {
	color: #f90;}*/

.menu, .menu ul, .menu li, .menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    height: 40px;
    width: 960px;
 
    background: /*#4c4e5a*/ #fff;
		/*
		  background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		  background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		  background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		  background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		  background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
		*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
		border: 1px solid black;
		margin-bottom: 1em;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    /*font-family: Helvetica, Arial, sans-serif;*/
   /* font-weight: bold;*/
    font-size: 16px;
 
    color: /*#fff*/ #00f;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a { color: /*#8fde62;*/ #f90; }

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: /*#1f2024*/ #fff;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
.menu ul li a {
    width: 100px;
    padding: 4px;
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
.menu ul li:last-child a { border: none; }


