#extras {
margin: .5em;
padding: 20px;
overflow: hidden;}  
#extras ul {
list-style: none; 
margin: 0;} 
#extras li {
border-bottom: 1px solid #aaa;} 
#extras h2 { 
color: #00f; 
font-size: 1.429em; 
margin-bottom: .25em; 
padding: 0 3px; }
#extras a:link, #extras a:visited { 
color: #000; 
display: block; 
border-bottom: 1px solid #F4E3E3; 
text-decoration: none; 
padding: .3em .25em; }  

/* Blogroll */ 
#extras .blogroll { 
float: left; 
width: 675px; }  
#extras .blogroll li {float: left; margin: 0 20px 0 0; width: 200px;}  

/* Social */ 
#extras .social { 
float: right; 
width: 200px; }
#extras li:last-child, #extras li:last-child a {border: 0}
#extras .blogroll li:nth-last-child(2), #extras .blogroll li:nth-last-child(3), #extras .blogroll li:nth-last-child(2) a, #extras .blogroll li:nth-last-child(3) a {border: 0;}
