.gallery_photo {
	display: inline-block;
	border: 1px solid blue;
	width: 200px;
	height: 200px;
	padding: 5px;
	margin: 5px 20px;
}

.gallery_photo img {	
	width: 200px;
	height: 200px;
}

.gallery_photo div {
	display:none;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
}

.album {
	border: 1px solid black; 
	max-height: 500px; 
	overflow: auto;
	padding: 2em;
	margin: 2em;
}


