.gallery_photo {
  width: 30%;
  margin: 0.5em;
  padding: 0.5em;
	
	
}

.gallery_photo img {	
	padding: 1em;	
	max-width: 200px;
	max-height: 200px;
}

.gallery_photo div {
	display: none;
	font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

.album {
	border: 1px solid black; 
	height: 240px; 
	overflow: auto;
}


