/*
 * css v5
 * Eleanor Roosvelt Robotics
 * October 2012
 * www.erhsroboticsclub.org
 * - Nick Yaculak nyaculak@gmail.com
 * - Michael Stevens
 */

@import url("../css/reset.css");

body {
	background-color: #69f;
	color: #000;
	font-size: 100%;
	line-height: 1;
	font-family: Ubuntu, sans-serif;
	text-align: left;
	overflow-x: hidden;
	width: 100%;
	max-width: 480px;
}

/* Headings */ 
h2 {font-size: 26px; color: #00f;}
h3 {font-size: 24px; color: #00f}
h4 {font-size: 20px;}
h5 {font-size: 16px;}
h6 {font-size: 14px; color: #00f; text-align: center; font-style: italic;}
h2, h3, h4, h5, h6 { 
	font-weight: 400; 
	line-height: 1;
	margin-bottom: .2em; 
}

a:link, a:visited { 
	color: #00f;
	text-decoration: underline;
}
a:hover, a:active { 
	color: #006;
}  

p { margin-bottom: .2em;}

#banner img, #banner a img {
    width: 100%;
}
#banner .login-and-fb {
    width: 100%;
    overflow: hidden;
}
.content {
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.center {
	margin: 0 auto;
	width: 100%;
	background: none;
}
.entry { 
	padding: .2em 0;
}
.divide {
	position: relative;
	width: 100%;
	margin: 0 auto;
	height: 4px;
	background-color: #666;
}

#welcome {
	background-color: #2a2a2a;
	color: #ccc;
}
#welcome h2, #welcome h3 { color: #fff; display: inline-block; text-align: center; width: 100%; float: left;}

#welcome figure, #welcome figure img, #welcome figure iframe { 
	margin: 0 auto;
	width: 320px; 
	height: 232px;
}

#about { 
	background: #fff;
	overflow: hidden; 
	border-top: 1px solid black;
}
#about .primary {
	color: #00f; 
	font-size: 1.286em;
}
#about .primary, #about .bio, #about .copyright { display: block; }

.blog-entry h2 {
	color: #00f;
}
.blog-entry h3 {
	color: #69f;
	font-size: 14px;
}

/* Login *****************/
form {
	width: 100%;}
.label {
	color: #00f;}
.button {
	padding: 5px;
	background-color: #69f;
	color: #00f;
	font-size: 14px;
}
.button:hover {
color: #f90;}
.remove-button {
	background: url(../images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	padding: 0px;
	float: right;	
	border: none;	
	-o-background-size:100% 100%;				/*  Opera  		*/
	-webkit-background-size:100% 100%;	/*  Safari	 	*/
	-khtml-background-size:100% 100%;		/*  Konqueror	*/
	-moz-background-size:100% 100%;			/*	Firefox		*/
}
.remove-button:hover {
	color:#FF001E;	
}
.edit-button {
	display: block;
	background: url(../images/edit.png) no-repeat top;
	width: 20px;
	height: 20px;
	float: right;
	border: none;	
	padding-top: 1px;
	-o-background-size:100% 100%;				/*  Opera  		*/
	-webkit-background-size:100% 100%;	/*  Safari	 	*/
	-khtml-background-size:100% 100%;		/*  Konqueror	*/
	-moz-background-size:100% 100%;			/*	Firefox		*/
}

.menu, .menu ul, .menu li, .menu a {
    margin: 0;
    padding: 0;
}
 
.menu {
	width: 100%;
	max-width: 480px;
	margin-left: -20px;
	margin-bottom: -5px;
	height: 40px; 
	background: #4c4e5a;
}
 
.menu li {
    float: left;
    display: block;
    height: 40px;
}

.menu li a {
    display: block;
    padding: 0 8px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
 
    color: #fff;
}
 
.menu li:hover > a { color: #69f; }

.menu ul {
    position: absolute;
    top: 40px;
}
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}
 
.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 100px;
    padding: 4px;
    margin: 0;
 
    border-bottom: 1px solid #353539;
}
 
.menu ul li:last-child a { border: none; }

.blogfeed {
	background: #fff;
	width: 100%;
}
.maincontent {
	background: #fff;
	width: 100%;
}
.maincontent .top {
	background: #fff;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}
.maincontent .bottom {
	background: #fff;
	padding-top: 5px;
}
.maincontent .top img, .maincontent .bottom img {
	max-width: 270px; margin-left: 100px; position: relative;
}

nav {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 20px 20px 5px 20px;
}

