#sponsors .sponsor-level {
	width: 100%;
	height: 0px;
	overflow: hidden;
}

#sponsors .sponsor-name { color: #00f; font-size: 26px; text-decoration: underline; cursor: pointer;}
#sponsors .toggle { display: none;}
#sponsors .toggle:checked+div {height: auto;}

#sponsor-info .sponsor-thanks {
	border-bottom: 1px solid black;
}

.sponsor-block {
display: block; 
float:left; 
width: 290px;
height:145px;
padding:5px; 
padding-bottom: 50px;
}
.sponsor-block fieldset {
border-color: blue;
}
.sponsor-block fieldset img {
float: left;
width: 155px;
height: 145px;
}
.sponsor-block fieldset font {
float: right;
display: block;
font-size: 68%;
width: 38%;
line-height: 1;
}

.sponsor {
	display: inline;
	margin-bottom: 10px;
}

.sponsor .name {
	text-align: center;
	color: blue;
	font-size: 16px;
}

.sponsor .image img {
	height: 200px;
	max-width: 250px;
	margin: 0 auto; 
	display: block;
}

.major .image img {
	height: 300px;
	max-width: 350px;
}

