#sponsors { 
overflow: hidden;
padding: 20px;
}

.sponsors {
	float: left;
	width: 630px;
	height: auto;
	margin-right: 5px;
}
.sponsors .sponsor-level {
	width: 100%;
	height: 100px;
}

.sponsor-info {
	float: right;
	width: 320px;
	/*height: 500px;*/
	overflow: auto;
	margin-left: 5px;
}
.sponsor-info .sponsor-thanks {
	border-bottom: 1px solid black;
}

.sponsor-info .sponsor-appeal {

}

.maincontent .top {
	height: 244px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}
.maincontent .bottom {
	height: 245px;
	padding-top: 5px;
}
.maincontent .top img, .maincontent .bottom img {
	width: 270px;
	display: inline-block;
	float: left;
	padding-left: 177px;
	margin-right: 177px;
}

#sponsor-block {
display: inline-block; 
float:left; 
width: 300px;
height:145px;
padding:3px; 
padding-bottom: 50px;
}

#sponsor-block fieldset {
border-color: blue;
}
#sponsor-block fieldset img {
float: left;
width: 58%;
height: 100%;
}
#sponsor-block fieldset font {
float: right;
display: block;
font-size: 68%;
width: 38%;
line-height: 1;
}


