#sponsors { 
margin-bottom: .5em; 
overflow: hidden; 
padding: 20px;
}

#sponsor-block {
display: inline-block; 
float:left; 
width:/*280px; */ 300px;
height:/*125px;*/ 150px;
padding:3px; 
padding-bottom:70px;
}
#sponsor-block fieldset {
border-color: white;
}
#sponsor-block fieldset img {
padding-right: 10px;
float: left;
width: 45%;
height: 100%;
}
#sponsor-block fieldset font {
line-height: 1;
font-size: 68%;
}


