{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	{% block dynamic %}
		{{super()}}
	{% endblock %}
	<article class="entry">
		<h2>Outreach</h2>
		<p>Part of our approach is the performance of STEM oriented community 
		service by team members. When our students go out and teach others about STEM fields, they 
		not only get others interested in such 	education, they get themselves better versed in 
		and more about excited about STEM fields.  Currently, our team performs two main types of 
		community service activities which are: 
		<ul style="">
			<li><font style="font-weight:bold;">Mentoring</font> - Our team mentors more than thirty elementary school students at Magnolia 
			Elementary School. ERHS Robotics students go to Magnolia and teach the third through fifth 
			graders about basic robotics. We have also introduced and helped grow a FIRST Lego 
			League Team at the school, a competition the kids have found very fun and rewarding. 
			</li>
			<li><font style="font-weight:bold">Displays and demos</font> - Our team prepares demonstrations and exhibits at festivals and fairs 
			across the region. We have been present and	spreading our message at major events like the 
			US Science and Engineering Festival and the Greenbelt Labor Day Festival.
			</li>
		</ul>
		</p>
	</article>
</section>
{% endblock %}
