{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	<article class="entry">
		<h2>Subteams</h2>
		<p>We divide our members into subteams...</p>
	</article>
	<article class="entry">
		<h2>Mechanical Team</h2>
		<p>The Mechanical Team is responsible for building the physical systems of the robots.</p>
	</article>
	<article class="entry">
		<h2>Programming Team</h2>
		<p>The Programming Subteam of the ERHS Robotics is responsible for a wide variety 
			 of functions of the team. Under the Programming/System Controls Subteam 
			 there are several miniteams. These include Software Engineering, and Electrical Engineering
			 Additionally, the programming team works with the business team to help develop 
			 the club website.</p>
	</article>
</section>
{% endblock %}
