{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	<article class="entry">
		<h2>Student Designed, Hand Coded</h2>
		<p>This website was designed and coded by students from the robotics
		club.  It is not a theme or template.  Although it requires more effort,
		writing a website from scratch extends the web designers more creative
		power.  The code is also optimized to run on the website as efficiently
		as possible.</p>
	</article>
	<article class="entry">
		<h2>Uses HTML5 and CSS3 Technologies</h2>
		<a href="http://www.w3.org/html/logo/">
			<img class="right" src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" 
					 alt="HTML5 Powered with CSS3 / Styling, and Semantics" 
					 title="HTML5 Powered with CSS3 / Styling, and Semantics">
		</a>
		<p>Our site utilizes the very latest in web technologies, including HTML5
		and CSS3.  We strive to ensure that our site remains up to date with the
		latest trends in design and layout.  At the same time, we make sure that
		older web browsers remain compatible with our designs.</p>
	</article>
	<article class="entry">
		<h2>Follows the 960 Standard</h2>
		<p>Our website uses the 960px grid system from <a href="http://960.gs">960.gs</a>
		to ensure a consistent and easily adjustable content display.	All modern 
		computer monitors are at least 1024px across, which means our website is
		viewable on almost any computer you can get your hands on.</p>
	</article>
	<article class="entry">
		<h2>Powered by Google App Engine</h2>
		<p>Our website is hosted as a Google App (Python).  The Google Appengine
		allows us to rapidly develop new features on our website, launch multiple
		versions, and easily develop, deploy, and utilize databases.</p>
	</article>
	<article class="entry">
		<h2>Facebook Integration</h2>
		<p>Our site uses the Facebook Graph API to integrate with our
		<a href="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999">Facebook</a> page.
		Most importantly, we use this functionality to automatically update our <a href="/gallery">gallery</a>
		page.  Photos from our Facebook albums automatically appear in the gallery.</p>
	</article>
</section>
{% endblock %}
