{% extends "base.html" %}
{% block content %}
<section class="content">
	<article class="grid_12 entry">
		<h2>Student Designed, Hand Coded</h2>
		<p>This website was designed and coded by students from the robotics
		club.  It is not a theme or template.  Although it requires more effort,
		writing a website from scratch extends the web designers more creative
		power.  The code is also optimized to run on the website.</p>
	</article>
	<article class="grid_12 entry">
		<h2>Google Appengine Powered</h2>
		<p>Our website is hosted as a Google App (Python).  The Google Appengine
		allows us to rapidly develop new features on our website, launch multiple
		versions, and easily develop, deploy, and utilize databases.</p>
	</article>
	<article class="grid_12 entry">
		<h2>Facebook Integration</h2>
		<p>Our site uses the Facebook Graph API to integrate with our
		<a href="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999">Facebook</a> page.
		Most importantly, we use this functionality to automatically update our <a href="/gallery">gallery</a>
		page.  Photos from our Facebook albums automatically appear in the gallery.</p>
	</article>
</section>
{% endblock %}
