{% extends "base.html" %}
{% block content %}
<section class="sixteen columns content">
	<div class="entry">
		<h2>Team Schedule/Calendar</h2>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=MONTH&amp;height=360&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=erhsroboticsclub%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" 
				style="border-width:0; overflow-y: hidden;" width="920" height="500">
				Your browser currently does not support iFrames and is unable to view
				the Robotics Club's Schedule/Calendar
		</iframe>
	</div>
</section>
{% endblock %}
