{% extends "base.html" %}

{% block content %}
<section class="sixteen columns content">	
	<section class="entry" id="punchclock">
		{% if response == "no name" %}
			<h2>That ID is not in our system yet.</h2>
			<h3>Please enter your full name</h3>
			<form method="post" action="/addmember" enctype="multipart/form-data">
				Name: <input type="text" name="name"><br>
				<input type="hidden" name="idstr" value="{{idstr}}">
				<input type="hidden" name="inorout" value="{{inorout}}">	
				<input type="submit">
			</form>
		{% elif response == "already" %}
			<h2> {{name}} already clocked {{inorout}} at {{time}}!</h2>		
		{% else %}
			<h2>Succsess!</h2>
			<h3>{{name}} punched {{inorout}} at {{time}}</h3>
		{% endif %}
	</section>
</section>
{% endblock %}
