.content-header {
	background: linear-gradient(left, #fff 0%, #efefef 100%);
		background: -webkit-linear-gradient(left, #fff 0%, #efefef 100%);
		background: -moz-linear-gradient(left, #fff 0%, #efefef 100%);
		background: -o-linear-gradient(left, #fff 0%, #efefef 100%);
		background: -ms-linear-gradient(left, #fff 0%, #efefef 100%);
}

.sub-nav {
	background: linear-gradient(left, #efefef 0%, #dfdfdf 100%);
		background: -webkit-linear-gradient(left, #efefef 0%, #dfdfdf 100%);
		background: -moz-linear-gradient(left, #efefef 0%, #dfdfdf 100%);
		background: -o-linear-gradient(left, #efefef 0%, #dfdfdf 100%);
		background: -ms-linear-gradient(left, #efefef 0%, #dfdfdf 100%);
}

.content-primary, .content-secondary {
	background: none;
}

.gradient-bar {
	height: 5px; 
	background: linear-gradient(left, #999 0%, #555 100%);
		background: -webkit-linear-gradient(left, #999 0%, #555 100%);
		background: -moz-linear-gradient(left, #999 0%, #555 100%);
		background: -o-linear-gradient(left, #999 0%, #555 100%);
		background: -ms-linear-gradient(left, #999 0%, #555 100%);
	margin: 0;
}

/* not working */
.last-third-gradient {
	background: -webkit-linear-gradient(left, #fff 0%, #fff 66.6%, #efefef 66.6%, #fafafa 100%);
}

/* sub-nav for content pages */
nav.sub-nav ul {
	padding: 20px 0 0 10px;
}

nav.sub-nav ul li {
	display: inline;
	padding: 0 10px;
}

nav.sub-nav ul li:first-child {
	padding-left: 0px;
}
