.photo {
	position: relative;
	margin: 13px;
	display: inline-block;
    width: 200px;
    height: 200px;
    background-position: center;    
    background-size: cover;
}

.photo div.label {
	margin: 5px;	
	text-shadow: 1px 1px black;	
	font-style: italic;
	font-size: 13pt;
	color: white;
	

}
a.displayable {
	display: inline-block;
    
}

.photo a {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}


