profile {
	overflow: hidden;
}
#profile-pic-and-priveleges-container {
	float: left;
	display: block;
	width: 150px;
}

#profile-content-container {
	float: left;
	display: inline-block;
	width: 710px;
}

#profile-pic {		
	width: 140px;
	height: 140px;
	float: left;
}
#profile-name {	
	text-decoration: underline;
	font-size: 20px;
	display: inline-block;
	color: #00f;
	padding-bottom: 5px;
}
#profile-about, #profile-team, #profile-currentprojects, #profile-pastprojects, 
#profile-email, #profile-priveleges {
	font-size: 16px;
	display: block;
}
#profile-about { 
	font-style: italic;
}
#profile-email {
	display: none;
}
#profile strong {
	font-weight: bold;}
