{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	{% block dynamic %]
		{{super()}}
	{% endblock %}
	<article class="entry">
		<h2>About the ERHS Robotics Club</h2>
		<p>The Robotics Club located at Eleanor Roosevelt High School in Greenbelt,
			 MD is a group of approximately 50 students who together to develop solutions
			 to a wide number of problems in the STEM field. We strive to encourage 
			creativity and teach real-world skills to	our students.</p>
	</article>
	<article class="entry">
		<h2>Team History</h2>
		<p>The Eleanor Roosevelt High School Robotics Club was founded in 1998 for the original intent of expanding the science and technology oriented enrichment programs at our school. Since the pilot year of this program, we have branched out from the original focus of our club and have begun to contribute more to the general community. From encouraging students to participate in the prestigious FIRST Robotics Competition to launching science and technology enrichment programs at local elementary schools, our team has a proven history of inspiring students to pursue STEM careers and engaging in the community.</p>
	</article>
	<article class="entry">
		<h2>Competition</h2>
		<p>Our Club is made up of a number of robotics teams which compete at various
			 local competitions.  Our largest and most important competition every year
			 is the FIRST Robotics Competition (FRC).  For more information, click
			 <a href="/first">here</a>.  We also have robotics teams which compete in
			 VEX Robotics and the Mini-Urban Challenge</p>
	</article>
	<article class="entry">
		<h2>Mechanical Team</h2>
		<p>The Mechanical Team is responsible for building the physical systems of the robots.
		These elements include the drive train, which allows the robot to move, and mechanisms
		that allow the robot to interact with its environment, such as claws, launchers, and
		arms.</p>
	</article>
	<article class="entry">
		<h2>Programming Team</h2>
		<p>The Programming Subteam of the ERHS Robotics is responsible for a wide variety 
			 of functions of the team. Under the Programming Subteam
			 there are several miniteams. These include Software Engineering and Electrical Engineering
			 Additionally, the programming team works with the business team to help develop 
			 the club website.</p>
	</article>
	<article class="entry">
		<h2>Website</h2>
		<p>The website is designed and coded entirely by students of the ERHS Robotics Club.
		Find out more information <a href="/website">here</a>.</p>
	</article>
</section>
{% endblock %}
