{% extends "base.html" %}
{% block content %}
	<section class="content">
		<ol>
			<li><article class="entry">
				<h2>About Us</h2>
				<p>The Robotics Club located at Eleanor Roosevelt High School in Greenbelt,
					 MD is a group of approximately 50 students who together to develop solutions
					 to a wide number of problems in the STEM field. We strive to encourage 
					creativity and teach real-world skills to	our students.</p>
			</article></li>
			<li><article class="entry">
				<h2>Competition</h2>
				<p>Our Club is made up of a number of robotics teams which compete at various
					 local competitions.  Our largest and most important competition every year
					 is the FIRST Robotics Competition (FRC).  For more information, click
					 <a href="/first">here</a>.  We also have robotics teams which compete in
					 VEX Robotics and the ION Mini Urban Challenge
			</article></li>
		</ol>
	</section>
{% endblock %}
