{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	<section class="entry" id="Attendance">
			<div>
				<h2 class="grid_3">Name</h2> 
				<h2 class="grid_3">Time In</h2> 
				<h2 class="grid_3">Time Out</h2>				
			</div>
			<div class="clear"></div>
		{% for member in members %}		
			<div>
				<span style="{% if loop.index % 2 == 0 %} background-color: #dadada;{% endif %}" class="grid_3 label">{{member.name}}</span> 
				<span style="{% if loop.index % 2 == 0 %} background-color: #dadada;{% endif %}" class="grid_3">{{member.intime}}</span> 
				<span style="{% if loop.index % 2 == 0 %} background-color: #dadada;{% endif %}" class="grid_3">{{member.outtime}}</span>				
				<div class="clear"></div>
			</div>
		{% endfor %}
	</section>
</section>
{% endblock %}
