<!DOCTYPE html>
<html lang="en">	
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}Eleanor Roosevelt Robotics{% endblock %}</title>
		<link rel="icon" type="image/png" href="/images/logo/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/cssv5.css">
		<link rel="stylesheet" type="text/css" href="/css/960_12_col.css">
		<script src="/js/jquery-1.8.2.min.js "></script>
		<script src="/js/modernizr.js"></script>
		<meta property="og:title" content="ERHS Robotics Club" />
		<meta property="og:type" content="non_profit" />
		<meta property="og:url" content="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999" />
		<meta property="og:image" content="http://www.erhsroboticsclub.org/images/logo/favicon.png" />
		<meta property="og:site_name" content="ERHS Robotics Club" />
		<meta property="fb:admins" content="100002221793440" />
		<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% endblock %}
	</head>
	<body>
		{% block banner %}
			<header id="banner" class="container_12">
				<aside class="grid_12 login">
					{% if user %}
						{% if user.fullname %}
							{{user.fullname}} <a href="/profile/{{user.username}}">{{user.username}}</a>
						{% else %}
							User: <a href="/profile/{{user.username}}">{{user.username}}</a>
						{% endif %}
						| <a href="/logout">Logout</a>
					{% else %}
						<a href="/login">Login</a>
					{% endif %}
				</aside><!-- /#login -->
				<div id="text-banner">
					<a class="grid_12" style="text-align: center" href="/">
						<span class="maintitle">ERHS Robotics Club</span><!--<img class="grid_8" src="../images/logo/banner3.png" alt="ERHS Robotics Banner">--><br/>
						<span class="subtitle">FRC Team 53 from Greenbelt, Maryland</span>
					</a>
				</div><!-- /#banner -->
			</header>
		{% endblock %}		
		{% block nav %}
			<nav id="top-navigation" class="container_12">
				<ul class="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a>
						<ul>
							<li><a href="/about/history">Team History</a></li>
							<li><a href="/about/subteams">Subteams</a></li>
							<li><a href="/about/outreach">Outreach</a></li>
							<li><a href="/about/members">Members</a></li>
							<li><a href="/about/mentors">Mentors</a></li>
							<li><a href="/about/website">Website</a></li>
						</ul>
					</li>
					<li><a href="/competitions">Competitions</a>
						<ul>
							<li><a href="/first">FIRST&#174;</a></li>
							<li><a href="/vex">VEX&#174;</a></li>
							<li><a href="/muc">MUC&#174;</a></li>
						</ul>
					</li>
					<li><a href="/blog/1">Blog</a></li>
					<li><a href="/sponsors">Sponsors</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/resources">Resources</a>
						<!--
						<ul>
							<li><a href="http://time.erhsroboticsclub.org">Punch Clock</a></li>
							<li><a href="/resources/parents">Parents</a></li>
							<li><a href="/resources/documents">Helpful Docs</a></li>
							<li><a href="/resources/contact">Contact Us</a></li>
						</ul>
						-->
					</li>
					<li><a href="/resources/parents">Parents</a></li>
					<li><a href="/resources/contact">Contact Us</a></li>
				</ul><!-- /.menu -->
				<img src="/images/logo/main-logo.png" class="nav-logo" alt="Navigation Bar Logo">		
			</nav><!-- /#top-navigation -->
		{% endblock %}	
		<section id="content" class="container_12">
			{% block content %}
			{% endblock %}
		</section>
		{% block footer %}
			<footer id="footer" class="container_12">
				<section id="sitemap" class="grid_12 content" style="margin-bottom: 0px">
					<div class="grid_2 footer_col alpha"><img src="/images/logo/favicon.png" alt="Robotics Club Logo" width="150"></div>
					<div class="grid_2 footer_col">
						<h2>ERHS Robotics</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/blog/1">Club Blog</a></li>
							<li><a href="/members">Members</a></li>
							<li><a href="/mentors">Mentors</a></li>
							<li><a href="/sponsors">Sponsors</a></li>
						</ul>
					</div>
					<div class="grid_2 footer_col">
						<h2>About Us</h2>
						<ul>
							<li><a href="/about/history">History</a></li>
							<li><a href="/about/subteams">Subteams</a></li>
							<li><a href="/about/outreach">Outreach</a></li>
							<li><a href="/about/website">Website</a></li>
						</ul>
					</div>
					<div class="grid_2 footer_col">
						<h2>Competitions</h2>
						<ul>
							<li><a href="/first">FIRST</a></li>
							<li><a href="/vex">Vex</a></li>
							<li><a href="/muc">Mini-Urban</a></li>
						</ul>
					</div>
					<div class="grid_2 footer_col">
						<h2>Media</h2>
						<ul>
							<li><a href="/gallery">Photo Gallery</a></li>
							<li><a href="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999">Facebook</a></li>
							<li><a href="http://www.youtube.com/user/Area53Robotics">Team Youtube</a></li>
							<li><a href="http://www.youtube.com/user/erhs53hackers">Programming Youtube</a></li>
						</ul>
					</div>
					<div class="grid_2 footer_col omega">
					<h2>Resources</h2>
					<ul>
						<li><a href="http://time.erhsroboticsclub.org">Attendance Clock</a></li>
						<li><a href="/resources/parents">Parents</a></li>
						<li><a href="/resources/contact">Contact Us</a></li>
					</ul>
					</div>
				</section><!-- /#sitemap -->
				<div class="clear"></div>
				<div id="about-validators" class="grid_12 content" style="margin-top: 0;">
					<section id="about" class="grid_8 omega">
						<span class="grid_7">
							© 2012 Eleanor Roosevelt Robotics Club | All Rights Reserved | 
							<a href="/about/website">About this site</a>
						</span>
						<span class="grid_7">
							The Eleanor Roosevelt Robotics Club website is built
							and maintained by the students of the club
						</span>
					</section><!-- /#about -->
					<section id="validators" class="grid_4 alpha">
						<img src="/images/html5val.jpg" alt="W3C HTML5 Validated">
						<a href="http://jigsaw.w3.org/css-validator/check/referer">
							<img style="border:0;width:88px;height:31px"
									 src="http://jigsaw.w3.org/css-validator/images/vcss"
									 alt="Valid CSS!">
						</a>
					</section>
				</div>
			</footer>
		{% endblock %}
	</body>
</html>
