<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en"> <![endif]-->
<head>
	{% block head %}
	<meta charset="utf-8">
	<title>{% block title %}ERHS Robotics{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/main.css">
	
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
	
	<link rel="icon" type="image/png" href="/images/logo/favicon.png" />
	
	<script src="/js/modernizr.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% endblock %}
</head>
<body>
	
	{% block header %}
	<div class="band header">
		<header class="container primary">
			<img src="/images/logo/logo.png" style="display: block; margin: 0 auto;">
		</header>
	</div>
	{% endblock %}
	
	{% block nav %}
	<div class="band navigation">
		<nav class="container primary">
			<div class="sixteen columns">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a>
						<ul>
							<li><a href="/about/history">History</a></li>
							<li><a href="/about/subteams">Subteams</a></li>
							<li><a href="/about/outreach">Outreach</a></li>
							<li><a href="/about/website">Website</a></li>
						</ul>
					</li>
					<li><a href="/competitions">Competitions</a>
						<ul>
							<li><a href="/competitions/frc">FRC</a></li>
							<li><a href="/competitions/vex">VEX</a></li>
							<li><a href="/competitions/muc">MUC</a></li>
						</ul>
					</li>
					<li><a href="/blog/1">Blog</a></li>
					<li><a href="/sponsors">Sponsors</a></li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/resources">Resources</a>
						<ul>
							<li><a href="/resources/punchclock">Punch Clock</a></li>
							<li><a href="/resources/parents">Parents</a></li>
							<li><a href="/resources/calendar">Calendar</a></li>
							<li><a href="/resources/contact">Contact Us</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav><!--end container-->
	</div><!-- /.band navigation -->
	{% endblock %}
	
	<div class="band">
		<div class="container" id="content">
			{% block content %}
				{% if user %}
					{% if page != None %}
						<a class="entry" href="/editpage/{{location}}" style="margin-bottom: 0">Edit</a>
					{% else %}
						<a class="entry" href="/newpage" style="margin-bottom: 0">Create Page</a>
					{% endif %}
				{% endif %}
				<div class="sixteen columns content">
					<header class="sixteen columns alpha omega" id="top-info" 
							style="background: -webkit-linear-gradient(left, #fff 0%, #efefef 100%);">
						<h2 class="entry">{% block page_title %}{{page.title}}{% endblock %}</h2>
					</header>
					<nav class="sixteen columns alpha omega sub-nav" id="sub-navigation"
						 style="background: -webkit-linear-gradient(left, #efefef 0%, #dfdfdf 100%);">
						{% block sub_nav %}
							
						{% endblock %}
					</nav>
					<aside class="sixteen columns alpha omega" id="gradient"
						   style="height: 5px; background: -webkit-linear-gradient(left, #999 0%, #555 100%);">
					</aside>
					<div class="two-thirds column alpha">
						<div class="entry">
							{% block primary_content %}
								{{page.content}}
							{% endblock %}
						</div>
					</div>
					<div class="one-third column omega" style="background: -webkit-linear-gradient(left, #efefef 0%, #fafafa 100%);">
						<div class="entry">
							{% block secondary_content %}
							{% endblock %}
						</div>
					</div>
				</div>
			{% endblock %}
		</div>
	</div><!-- /.band -->
	
	{% block footer %}
	<div class="band footer">	
		<footer class="container main">
			<div class="eight columns">
				<h3>Stay Connected</h3>
				<strong>Social media icons will go here</strong>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut facilisis, neque et volutpat mattis, lectus tellus imperdiet justo, bibendum posuere nisl sapien ac felis. Vivamus facilisis rutrum diam, non varius libero pharetra sit amet. Curabitur eget sapien tortor. </p>
			</div>
			<div class="four columns">
				<h3>Recent Posts</h3>
					{% if post|count >= 1 %}
						<h6><strong>{{post[0].subject}}</strong></h6>
						<h6>{{post[0].created}}</h6>
					{% endif %}
					{% if post|count >= 2 %}
						<h6><strong>{{post[1].subject}}</strong></h6>
						<h6>{{post[1].created}}</h6>
					{% endif %}
					{% if post|count >= 3 %}
						<h6><strong>{{post[2].subject}}</strong></h6>
						<h6>{{post[2].created}}</h6>
					{% endif %}
			</div>
			<div class="four columns">
				<img src="/images/logo/erhs.png" width="100%">
				<img src="/images/logo/favicon.png" style="height: 100px; display: block; margin: 0 auto;">
			</div>
		</footer>
	</div><!-- /.band -->
		
	<div class="band bottom">	
		<footer class="container">		
			<div class="eight columns first-credit">
				<p>Copyright &copy; 2011-2013 <a href="#">ERHS Robotics Club</a> All Rights Reserved <br/>
				<a href="#">About this site</a></p>
			</div><!--end eight-->
			<div class="eight columns last-credit">
				<p>Powered by Google App Engine<br/>
				Maintained by students of ERHS Robotics</p>
			</div>
		</footer>
	</div><!--end band-->
	{% endblock %}
	
</body>
</html>

