<!DOCTYPE html>
<html lang="en">	
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>{% block title %}Eleanor Roosevelt Robotics{% endblock %}</title>
		<link rel="icon" type="image/png" href="/images/logo/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/cssv5.css">
		<script src="/js/jquery-1.8.2.min.js "></script>
		<script src="/js/modernizr.js"></script>
        <meta property="og:title" content="ERHS Robotics Club" />
        <meta property="og:type" content="non_profit" />
        <meta property="og:url" content="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999" />
        <meta property="og:image" content="http://www.erhsroboticsclub.org/images/logo/favicon.png" />
        <meta property="og:site_name" content="ERHS Robotics Club" />
        <meta property="fb:admins" content="100002221793440" />
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{% endblock %}
	</head>
	<body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
			{% block banner %}
			<header class="center" id="banner">
				<a href="/"><img id="banner-logo" src="../images/logo/banner3.png" alt="ERHS Robotics Banner"></a>
                <aside class="login-and-fb">
                    <aside id="login">
                        {% if user %}
                            {% if user.fullname %}
                                {{user.fullname}} <a href="/profile/{{user.username}}">{{user.username}}</a>
                            {% else %}
                                User: <a href="/profile/{{user.username}}">{{user.username}}</a>
                            {% endif %}
                            | <a href="/logout">Logout</a>
                        {% else %}
                            <a href="/login">Login</a>
                        {% endif %}
                    </aside><!-- /#login -->
                    <h5>Like Us On Facebook!</h5>
                    <div class="fb-like" data-href="http://www.facebook.com/pages/ERHS-Robotics-Club/184052998344999" 
                         data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" 
                         data-font="segoe ui"></div>
                </aside>
			</header><!-- /#banner -->
			{% endblock %}					
		<nav>
			<ul class="menu">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About Us</a>
					<ul>
						<li><a href="/about/history">Team History</a></li>
						<li><a href="/about/subteams">Subteams</a></li>
						<li><a href="/about/outreach">Outreach</a></li>
						<li><a href="/about/members">Members</a></li>
						<li><a href="/about/mentors">Mentors</a></li>
						<li><a href="/about/website">Website</a></li>
					</ul>
				</li>
				<li><a href="/competition">Competitions</a>
					<ul>
						<li><a href="/first">FIRST&#174;</a></li>
						<li><a href="/vex">VEX&#174;</a></li>
						<li><a href="/muc">MUC&#174;</a></li>
					</ul>
				<li/>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/sponsors">Sponsors</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/resources">Resources</a>
					<ul>
						<li><a href="/resources/parents">Parents</a></li>
						<li><a href="/resources/documents">Helpful Docs</a></li>
						<li><a href="/resources/contact">Contact Us</a></li>
					</ul>
				</li>
			</ul><!-- /.menu -->
		</nav><!-- /#top-navigation -->
		{% block content %}
		{% endblock %}
		<footer class="content" id="about">
			<span class="primary">
				<strong>Eleanor Roosevelt Robotics</strong>
			</span>
			<span class="bio">
				The Eleanor Roosevelt Robotics website offers 
				information to team members, mentors, parents, and the public.  
				The website is built and maintained by student members of the team.
			</span>
			<span class="copyright">(c) 2012 | Eleanor Roosevelt High School Robotics</span>
		</footer><!-- /.content #about -->	
	</body>
</html>
