{% extends "base.html" %}
{% block content %}
<section class="content">
	<article class="entry">
		<h2>Competitions</h2>
		<p>The primary focus of our robotics club is to compete in robotics
		competitions.  Our main competitions are:
		<ul>
			<li><a href="/first">FIRST Robotics Competition (FRC)</a>:
				The FRC is our largest competition.  We compete in the FRC
				as Team 0053 - "Area 53"</li>
			<li><a href="/vex">VEX Robotics Competition</a>:  In additon to
				FRC, our team also competes in the Vex Robotics Competition,
				which is similar to FRC, but on a smaller scale</li>
			<li><a href="/muc">Mini-Urban Challenge</a>: The Mini-Urban Challenge
				is a smaller competition (teams of 7 people) where the objective
				is to autonomously navigate a city</li>
		</ul>
		</p>
	</article>
</section>
{% endblock %}
