{% extends "base.html" %}
{% block content %}
	<section class="content" id="content">
	<ol>
		<li><article class="entry">
			<h2>What is FIRST&#174;?</h2>
			<p>FIRST&#174; (For the Inspiration and Recognition of Science and
               Technology) is an international organization dedicated to 
               the teaching of the STEM field to students.  The organization
               was founded in 1989 by Dean Kamen and has since grown into one
               of the largest and most successful robotics high school robotics
               programs in the world.</p>
		</article></li><!-- /.entry -->
    <li><article class="entry">
    	<h2>FIRST&#174; Robotics Competition (FRC)</h2>
    	<p>The largest competition offered by FIRST, the FIRST Robotics
         Competition, is an annual competition in which teams are given
         6 weeks to build a robot to complete a certain task.  The Robots
         weight approximately 120 pounds and compete head-to-head in teams
         of 3 during competition.  Competitions are generally held on the 
         Regional level, and the year culminates in the final competition
         held in St. Louis every year.</p>
    </article></li><!-- /.entry -->
		<li><article class="entry">
			<h2>Gracious Professionalism&#174;</h2>
			<p>Dr. Woodie Flowers, FIRST National Advisor and Pappalardo Professor Emeritus of Mechanical Engineering, Massachusetts Institute of Technology, coined the term "Gracious Professionalism®."

Gracious Professionalism is part of the ethos of FIRST. It's a way of doing things that encourages high-quality work, emphasizes the value of others, and respects individuals and the community.

With Gracious Professionalism, fierce competition and mutual gain are not separate notions. Gracious professionals learn and compete like crazy, but treat one another with respect and kindness in the process. They avoid treating anyone like losers. No chest thumping tough talk, but no sticky-sweet platitudes either. Knowledge, competition, and empathy are comfortably blended.

In the long run, Gracious Professionalism is part of pursuing a meaningful life. One can add to society and enjoy the satisfaction of knowing one has acted with integrity and sensitivity.</p>
		</article></li><!-- /.entry -->
		<li><article class="entry">
			<h2>Coopertition&#174;</h2>
			<p>Coopertition® produces innovation. At FIRST, Coopertition is displaying unqualified kindness and respect in the face of fierce competition. Coopertition is founded on the concept and a philosophy that teams can and should help and cooperate with each other even as they compete.

Coopertition involves learning from teammates. It is teaching teammates. It is learning from Mentors. And it is managing and being managed. Coopertition means competing always, but assisting and enabling others when you can.</p>
		</article></li><!-- /.entry -->
	</ol><!-- /#posts-list -->
	</section><!-- /#content -->
{% endblock %}

