{% extends "base.html" %}
{% block content %}
	<section class="content" id="content">
	<ol>
		<li><article class="entry">
			<h2>What is FIRST&#174;?</h2>
			<p>FIRST&#174; (For the Inspiration and Recognition of Science and
               Technology) is an international organization dedicated to 
               the teaching of the STEM field to students.  The organization
               was founded in 1989 by Dean Kamen and has since grown into one
               of the largest and most successful robotics high school robotics
               programs in the world.</p>
		</article></li><!-- /.entry -->
    <li><article class="entry">
    	<h2>FIRST Robotics Competition (FRC)</h2>
    	<p>The largest competition offered by FIRST, the FIRST Robotics
         Competition, is an annual competition in which teams are given
         6 weeks to build a robot to complete a certain task.  The Robots
         weight approximately 120 pounds and compete head-to-head in teams
         of 3 during competition.  Competitions are generally held on the 
         Regional level, and the year culminates in the final competition
         held in St. Louis every year.</p>
    </article></li><!-- /.entry -->
		<li><article class="entry">
			<h2>Gracious Professionalism&#174;</h2>
			<p>Gracious Professionalism&#174; is ...</p>
	</ol><!-- /#posts-list -->
	</section><!-- /#content -->
{% endblock %}

