{% extends "base.html" %}
{% block content %}
<section class="content">
	<h3>Team History</h3>
	<p>The Eleanor Roosevelt High School Robotics Club was founded in 
	1998 for the original intent of expanding the science and technology 
	oriented enrichment programs at our school. Since the pilot year of 
	this program, we have branched out from the original focus of our club 
	and have begun to contribute more to the general community. From encouraging 
	students to participate in the prestigious FIRST Robotics Competition to launching s
	cience and technology enrichment programs at local elementary schools, our 
	team has a proven history of inspiring students to pursue STEM careers and 
	engaging in the community.</p>
</section>
{% endblock %}
