{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="js/fade-slide.js"></script>   
{% endblock %}
{% block content %}
<aside class="content" id="welcome">	
	<span class="grid_8">
		<h2>Eleanor Roosevelt High School</h2>
		<h3>Robotics Club</h3>
		<p>The Eleanor Roosevelt Robotics Club is a group
		of about 50 bright students who come together to think of, design,
		and develop creative solutions to a wide variety of challenges in
		the Science, Technology, Engineering, and Mathematics (STEM)
		Field.  We foster our students' interests in the STEM field through encouraging
		their use of problem-solving and critical thinking skills in a multitude of
		challenging ways, mainly through competing in various local robotics
		competitions</p>
	</span>
	<figure class="grid_4">
		<script type="text/javascript">  
			var mygallery=new fadeSlideShow({   
			 wrapperid: "photo-stream",  
			 dimensions: [/*349*/ 300, 232], //width x height
						imagearray:  [     
							["../images/image-1.jpg"],    
							["../images/image-2.jpg"], 
							["../images/image-3.jpg"],
							["../images/image-4.jpg"],
							["../images/image-5.jpg"],
							["../images/image-6.jpg"]
						],
						displaymode: {type:'auto', pause:1000, cycles:0, wraparound:false},   
				persist: false, //remember last viewed slide and recall within same session?   
				fadeduration: 2000, //transition duration (milliseconds)  
				descreveal: "ondemand",
				togglerid: ""
				})
		</script>
		<div id="photo-stream"></div>
	</figure>
</aside><!-- /#welcome -->
<div class="clear"></div>
<div class="divide"></div>
<section class="content">
	<section class="maincontent grid_8">
		<article class="top">
			<img src="/images/first.jpg" alt="FIRST Logo">
			<h6>FRC Team 53 - "Area 53"</h6>
			<p>FIRST® (For the Inspiration and Recognition of Science and Technology) 
			is an international organization dedicated to the teaching of the 
			STEM field to students. The organization was founded in 1989 by 
			Dean Kamen and has since grown into one of the largest and most 
			successful robotics high school robotics programs in the world.  Click <a href="/first">here</a>
			to learn more about FIRST.</p>
		</article>
		<article class="bottom">
			<img src="/images/vex.jpg" alt="Vex Robotics Logo">
			<p>The VEX Robotics Competition is the largest and fastest growing 
			middle and high school robotics program globally with more than 
			4,800 teams from 20 countries playing in over 300 tournaments 
			worldwide. Events are held often and more are being added every week.
			This year's game is called <a href="http://www.vexforum.com/wiki/index.php/Sack_Attack">
			Sack Attack</a>.  For more information concerning VEX, click
			<a href="/vex">here</a>.</p>
		</article>
	</section>
	<aside class="blogfeed grid_4">
		<h2>Recent Announcements</h2>
		<br>
		{% if post|count >= 1 %}
			<h3>{{post[0].subject}}</h3>
			<div class="blog">{{post[0].content}}</div><hr>
		{% endif %}
		{% if post|count >= 2 %}
			<h3>{{post[1].subject}}</h3>
			<div class="blog">{{post[1].content}}</div><hr>
		{% endif %}
		{% if post|count >= 3 %}
			<h3>{{post[2].subject}}</h3>
			<div class="blog">{{post[2].content}}</div><hr>
		{% endif %}
		<p>For more announcements, see the <a href="/blog">blog</a> page.</p>
	</aside>
	<div class="clear"></div>
	<div class="center grid_12" id="calendar">
		<h2>Team Schedule/Calendar</h2>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=MONTH&amp;height=360&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=erhsroboticsclub%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" 
				style=" border-width:0; overflow-y: hidden;" width="100%" height="500">
		</iframe>
	</div>
</section>
{% endblock %}		
