{% extends "base2.html" %}
{% block content %}
<section class="sixteen columns content">		
	<div class="entry">
		<h2>Login</h2>
		<form method="post">			
				Username:
				<input type="text" name="username" value="{{username}}">  
				Password:
				<input type="password" name="password" value="{{password}}">
				Remember me?
				<input type="checkbox" name="remember" value="true"><br>
				<input type="submit" class="button">
				<div class="error">{{error}}</div>
		</form>	
	</div>
</section><!-- /#content -->
{% endblock %}
			
