{% extends "base.html" %}
{% block content %}
	<section id="content">
		<ol>
			<li><article class="entry">
				<h2>Mechanical (Build) Team</h2>
				<p>The Mechanical Team is responsible for building the physical
                   systems of the robots.  </p>
			</article></li>
			<li><article class="entry">
				<h2>Chassis</h2>
				<p>The chassis, or drivek train, is the part of the robot that allows
                   it to move.</p>
			</article></li>
			<li><article class="entry">
				<h2>End Effectors</h2>
				<p>End effectors, such as a robotic arm, allow robots to interact with
                   the physical world.</p>
			</article></li>
		</ol>
	</section>
{% endblock %}
