{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	<article class="entry">
		<h2>Mini-Urban Challenge</h2>
		<p>The Mini-Urban Challenge is a national competition sponsored by 
		the United States Air Force Research Laboratory that challenges 
		high school students to design and operate a robotic car to autonomously 
		navigate a model city. The cars are developed using LEGO® MINDSTORMS® Education kits.</p>
		
		<p>The students are challenged to build and program a car that can
		autonomously navigate itself through a model city.  The teams are
		ranked based on their score: 70% determined by performance on the
		field and 30% determined by a presentation given by the team of their
		solution to the challenge.</p>
	</article>
</section>
{% endblock %}
