{% extends "base.html" %}
{% block content %}
<section class="content">
	<article class="grid_12 entry">
		<h2>Parents</h2>
		<p>Welcome to the one-stop destination for the parents of the ERHS Robotics Club.
			All information concerning parents/guardians will be located here.  Please stop by on
			occasion for any updates.</p>
	</article>
	<article class="grid_12 entry">
		<h2>Parent Night Presentation</h2>
		<p>Below is the link to the presentation that was given at the Parent Night meeting
		<ul>
			<li><a href="/files/parents/parent-night-presentation.pdf">Parent Night Presentation</a></li>
		</ul></p>
	</article>
	<article class="grid_12 entry">
		<h2>How to Contribute Donations</h2>
		<p>Are you or someone you know interested in donating to the EHRS Robotics Club?
			Please check out the information posted below for more information
		<ul>
	        <li><a href="/files/proposal-forms/brochure-2012-2013.pdf">Sponsorship Brochure</a></li>
	        <li><a href="/files/proposal-forms/sponsor-proposal.pdf">Sponsor Proposal Letter</a></li>
	        <li><a href="/files/proposal-forms/proposal-forms.zip">Download Both (zip)</a></li>
        </ul></p>
	</article>
	<article class="grid_12 entry">
		<h2>Meeting Schedule</h2>
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;showTz=0&amp;mode=MONTH&amp;height=360&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=erhsroboticsclub%40gmail.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" 
				style=" border-width:0 " width="940" height="600" frameborder="0" scrolling="no"></iframe>
	</article>
</section>
{% endblock %}
