{% extends "base.html" %}
{% block head %}
	{{super()}}
	<link rel="stylesheet" href="../css/sponsors.css">
{% endblock %}
{% block content %}
	<section id="content">
	<ol>
		<li><article class="entry">
			<h2>Sponsorships</h2>
			<p>Running a Robotics Club demands large amounts of supplies and monetary
				 support.  Our club receives the bulk of its funding from generous corporate
				 sponsors, many of which are part of the STEM community.</p>
		</article></li>
		<li><article class="entry">
			<h2>Proposal Forms</h2>
			<p>Are you interested in becoming a sponsor for the Eleanor Roosevelt
				 Robotics Club?  If so, please take your time to download and review
				 the following documents.  Your time and donations are much appreciated.
				<ul>
	        <li><a href="/files/proposal-forms/brochure-2012-2013.pdf">Sponsorship Brochure</a></li>
	        <li><a href="/files/proposal-forms/sponsor-proposal.pdf">Sponsor Proposal Letter</a></li>
	        <li><a href="/files/proposal-forms/proposal-forms.zip">Download Both (zip)</a></li>
        </ul></p>
		</article></li>
		<li><article class="entry">
			<h2>Thank You to Our Sponsors!</h2>
			<p>We would like to thank all of our current Sponsors for their generous
				 donations.  The Robotics Club here at Eleanor Roosevelt would not be 
				 possible without you.</p>
		</article></li>
	</ol>
	</section>
	<section id="sponsors">
		<div id="sponsor-block"><fieldset>			
				<legend><a href="http://www.aliodesigns.com/">Alio Designs</a></legend>
				<img src="../images/sponsors/alio-designs.jpg">
				<font>Solve Design Challenges Before They Become a Problem</font>
		</fieldset></div>	
		<div id="sponsor-block"><fieldset>			
				<legend><a href="http://www.mdspace.org/msbr_content/welcome.htm">MSBR</a></legend>
				<img src="../images/sponsors/msbr.jpg">
				<font>The Maryland Space Business Roundtable encourages the growth 
 							and development of aerospace-related business in Maryland.</font>
		</fieldset></div>	
		<div id="sponsor-block"><fieldset>			
				<legend><a href="http://www.scigrp.com/">SCI Group</a></legend>
				<img src="../images/sponsors/sci-group.jpg">
				<font>Provides strategic advisory services, web solutions, learning solutions, 
							and application development and maintenance</font>
		</fieldset></div>	
	</section>
{% endblock %}
