{% extends "base.html" %}
{% block head %}
	{{super()}}
	<link rel="stylesheet" href="../css/sponsors.css">
{% endblock %}
{% block content %}
<section class="content">
	<div class="sponsors">
		<label for="platinum-sponsors-check" class="sponsor-name">Platinum Sponsors</label>
			<input id="platinum-sponsors-check" type="checkbox" class="toggle collapse-button"/>
			<div class="sponsor-level" id="platinum-sponsors">
				This is where the platinum sponsor stuff will be located
			</div>
		<label for="gold-sponsors-check" class="sponsor-name">Gold Sponsors</label>
			<input id="gold-sponsors-check" type="checkbox" class="toggle" />
			<div class="sponsor-level" id="gold-sponsors">
				<div class="sponsor-block"><fieldset>			
					<legend><a href="http://www.mdspace.org/msbr_content/welcome.htm">MSBR</a></legend>
					<img src="/images/sponsors/msbr.jpg">
					<font>The Maryland Space Business Roundtable encourages the growth 
						  and development of aerospace-related business in Maryland.</font>
				</fieldset></div>	
				<div class="sponsor-block"><fieldset>			
					<legend><a href="http://www.scigrp.com/">SCI Group</a></legend>
					<img src="/images/sponsors/sci-group.jpg">
					<font>Provides strategic advisory services, web solutions, learning solutions, 
						  and application development and maintenance</font>
				</fieldset></div>	
			</div>
		<label for="silver-sponsors-check" class="sponsor-name">Silver Sponsors</label>
			<input id="silver-sponsors-check" type="checkbox" class="toggle" />
			<div class="sponsor-level" id="silver-sponsors">
				This is where the silver sponsor stuff will be located
			</div>
		<label for="bronze-sponsor-check" class="sponsor-name">Bronze Sponsors</label>
			<input id="bronze-sponsor-check" type="checkbox" class="toggle" />
			<div class="sponsor-level" id="bronze-sponsors">
				<div class="sponsor-block"><fieldset>			
					<legend><a href="http://www.aliodesigns.com/">Alio Designs</a></legend>
					<img src="/images/sponsors/alio-designs.jpg">
					<font>Solve Design Challenges Before They Become a Problem</font>
				</fieldset></div>	
				<div class="sponsor-block"><fieldset>
					<legend><a href="http://www.meitechinc.com/">MEI Technologies</a></legend>
					<img src="/images/sponsors/meit.jpg">
					<font>MEI Technologies offers innovative, best-value services and solutions in 
						  systems design and development, applied engineering, cyber, and research 
						  and development.</font>			
				</fieldset></div>
			</div>
	</div>
	<div class="sponsor-info">
		<div class="sponsor-thanks">
			<h2>Thank you to our sponsors!</h2>
			<p>Running a robotics program such as ours would not be
			   possible without the generous donations received from
			   you!</p>
		</div>
		<div class="sponsor-appeal">
			<article class="entry">
				<h2>Sponsorships</h2>
				<p>Running a Robotics Club demands large amounts of supplies and monetary
					 support.  Our club receives the bulk of its funding from generous corporate
					 sponsors, many of which are part of the STEM community.</p>
			</article>
			<article class="entry">
				<h2>Proposal Forms</h2>
				<p>Are you interested in becoming a sponsor for the Eleanor Roosevelt
					 Robotics Club?  If so, please take your time to download and review
					 the following documents.  Your time and donations are much appreciated.
				<ul>
					<li><a href="/files/proposal-forms/brochure-2012-2013.pdf">Sponsorship Brochure</a></li>
					<li><a href="/files/proposal-forms/sponsor-proposal.pdf">Sponsor Proposal Letter</a></li>
					<li><a href="/files/proposal-forms/proposal-forms.zip">Download Both (zip)</a></li>
				</ul>
					If you have any questions, please contact our club president Vishnu Rachakonda at
					president@erhsroboticsclub.org
				</p>
			</article>
		</div>
	</div>
</section>

{% endblock %}
