{% extends "base.html" %}
{% block content %}
<section class="grid_12 content">
	{% block dynamic %}
		{{super()}}
	{% endblock %}
	<article class="entry">
		<h2>Vex Robotics Competition</h2>
		<p>
			The VEX Robotics Competition is the largest and fastest growing 
			middle and high school robotics program globally with more than 
			4,800 teams from 20 countries playing in over 300 tournaments 
			worldwide. Events are held often and more are being added every 
			week.
		</p>
		<p>The Vex Robotics Competition is played on a square 12'x12' field.
		   Two alliances (red and blue) of two robots each competete in each
		   match.  The matches consist of a 15 second autonomous period 
		   followed by 1 minute and 45 second driver-controlled period.  The winner is
		   determined by the alliance which earns the most points by the
		   end of the game.</p>
	</article>
	<article class="entry">
		<h2>2012-2013 Game - <font style="font-style:italic;">Sack Attack</font></h2>
		<iframe class="left" width="420" height="315" src="http://www.youtube.com/embed/N-ehrKSYfjk" frameborder="0" allowfullscreen></iframe>
		<p>The 2012-2013 Game for the Vex Robotics Competition is called Sack Attack.
		   The object of the game is to attain a higher score than the opposing Alliance 
		   by Scoring Sacks and Bonus Sacks in your colored Floor Goals, Troughs and High Goal, 
		   and by having the most Robots of your color Parked at the end of the Match.
		</p>
	</article>
</section>
{% endblock %}
